In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [21]:
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,enc_Sex
0,1,0,3,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,35.0,0,0,373450,8.0500,NaN,S,1

In [9]:
train.shape

(891, 11)

In [20]:
train.drop(['Sex'], axis = 1, inplace  = True)
test.drop(['Sex'], axis = 1, inplace  = True)

In [25]:
train.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [17]:
train['enc_Sex'] = pd.get_dummies(train.Sex, drop_first=True)
test['enc_Sex'] = pd.get_dummies(test.Sex, drop_first=True)

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le = LabelEncoder()

In [44]:
test.Embarked.fillna('Missing', inplace = True)

In [46]:
le.fit(train['Embarked'])

LabelEncoder()

In [38]:
list(le.classes_)

['A10',
 'A14',
 'A16',
 'A19',
 'A20',
 'A23',
 'A24',
 'A26',
 'A31',
 'A32',
 'A34',
 'A36',
 'A5',
 'A6',
 'A7',
 'B101',
 'B102',
 'B18',
 'B19',
 'B20',
 'B22',
 'B28',
 'B3',
 'B30',
 'B35',
 'B37',
 'B38',
 'B39',
 'B4',
 'B41',
 'B42',
 'B49',
 'B5',
 'B50',
 'B51 B53 B55',
 'B57 B59 B63 B66',
 'B58 B60',
 'B69',
 'B71',
 'B73',
 'B77',
 'B78',
 'B79',
 'B80',
 'B82 B84',
 'B86',
 'B94',
 'B96 B98',
 'C101',
 'C103',
 'C104',
 'C106',
 'C110',
 'C111',
 'C118',
 'C123',
 'C124',
 'C125',
 'C126',
 'C128',
 'C148',
 'C2',
 'C22 C26',
 'C23 C25 C27',
 'C30',
 'C32',
 'C45',
 'C46',
 'C47',
 'C49',
 'C50',
 'C52',
 'C54',
 'C62 C64',
 'C65',
 'C68',
 'C7',
 'C70',
 'C78',
 'C82',
 'C83',
 'C85',
 'C86',
 'C87',
 'C90',
 'C91',
 'C92',
 'C93',
 'C95',
 'C99',
 'D',
 'D10 D12',
 'D11',
 'D15',
 'D17',
 'D19',
 'D20',
 'D21',
 'D26',
 'D28',
 'D30',
 'D33',
 'D35',
 'D36',
 'D37',
 'D45',
 'D46',
 'D47',
 'D48',
 'D49',
 'D50',
 'D56',
 'D6',
 'D7',
 'D9',
 'E10',
 'E101',
 'E12',
 'E121',
 'E17',
 'E24',
 'E25',
 'E31',
 'E33',
 'E34',
 'E36',
 'E38',
 'E40',
 'E44',
 'E46',
 'E49',
 'E50',
 'E58',
 'E63',
 'E67',
 'E68',
 'E77',
 'E8',
 'F E69',
 'F G63',
 'F G73',
 'F2',
 'F33',
 'F38',
 'F4',
 'G6',
 'Missing',
 'T']

In [47]:
#train['enc_Cabin'] = le.transform(train['Cabin'])
test['enc_Embarked'] = le.transform(test['Embarked'])

In [61]:
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,enc_Sex,enc_Embarked
0,1,0,3,22.0,1,0,7.2500,1,3
1,2,1,1,38.0,1,0,71.2833,0,0
2,3,1,3,26.0,0,0,7.9250,0,3
3,4,1,1,35.0,1,0,53.1000,0,3
4,5,0,3,35.0,0,0,8.0500,1,3

In [60]:
train.drop(['Ticket'], axis = 1, inplace = True)

In [55]:
train.shape

(891, 10)

In [56]:
test.shape

(418, 9)

In [57]:
test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare,enc_Sex,enc_Embarked
0,892,3,34.5,0,0,330911,7.8292,1,2
1,893,3,47.0,1,0,363272,7.0000,0,3
2,894,2,62.0,0,0,240276,9.6875,1,2
3,895,3,27.0,0,0,315154,8.6625,1,3
4,896,3,22.0,1,1,3101298,12.2875,0,3

In [63]:
X = train.drop(['PassengerId','Survived'], axis = 1)

In [74]:
X.Age.interpolate(method = 'values', inplace = True)

In [67]:
y = train.Survived

In [75]:
X.isnull().sum()

Pclass          0
Age             0
SibSp           0
Parch           0
Fare            0
enc_Sex         0
enc_Embarked    0
dtype: int64

In [76]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
                                    X, y, random_state=42, test_size=.33)

In [201]:
from sklearn.ensemble.gradient_boosting import GradientBoostingClassifier

In [202]:
model = GradientBoostingClassifier( learning_rate=0.03, min_samples_split = 110, min_samples_leaf = 20,n_estimators=150, max_features=7)
model.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.03, loss='deviance', max_depth=3,
              max_features=7, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=20, min_samples_split=110,
              min_weight_fraction_leaf=0.0, n_estimators=150,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [203]:
model.score(X_test, y_test)

0.8372881355932204

In [204]:
predictions = model.predict(test.interpolate(method = 'values').drop(['PassengerId'], axis = 1))

In [207]:
submission = pd.DataFrame()
submission['PassengerId'] = test.PassengerId

In [208]:
submission['Survived'] = predictions

In [209]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [210]:
submission.to_csv('Submission_GBCV.csv', index = False)